<main class="page__main">
  <form action="" method="" class="main__form">

      <input
        type="radio"
        name="game"
        id="4"
        value="4"
        class="dif__option"
      />
      <label for="4">
        4
      </label>
      <input
        type="radio"
        name="game"
        id="6"
        value="6"
        class="dif__option"
      />
      <label for="6">
        6
      </label>
      <input
        type="radio"
        name="game"
        id="8"
        value="8"
        class="dif__option"
      />
      <label for="8">
        8
      </label>
      <button type="button" class="startBtn">
        Comenzar
      </button>
  </form>
  <div class="board"></div>
</main>
