.page__main{
  @include center;
}
.card{
  height:195px;
  width:160px;
  border: 1px solid grey;
  @include bg;
  margin: 10px;
  border-radius: 8px;
}
.board{
  @include clearList;
  display:flex;
  flex-wrap: wrap;
}
